temp_flows/flows/Cancellations_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Cancel_Fee</name>
        <label>Set Cancel Fee</label>
        <locationX>974</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>vCancelationFee</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CancelationFee</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cancel_Fee_Line_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Cancel_Reg_Opp_Canc_0</name>
        <label>Set Cancel Reg Opp Canc</label>
        <locationX>974</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>Get_Reg_Opp.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Text1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Cancel_Reg_Opp_Closed_Lost_0</name>
        <label>Set Cancel Reg Opp - Closed Lost</label>
        <locationX>1106</locationX>
        <locationY>2414</locationY>
        <assignmentItems>
            <assignToReference>Get_Reg_Opp.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Reg_Opp.Reg_Change_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Reg_Opp.Reg_Change_Processed_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Reg_Opp.Registration_Change_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Reg_Opp.Reg_Change_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cancel_Request_Comments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_there_a_parent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Cancel_Registration_0_0</name>
        <label>Set Cancel Registration</label>
        <locationX>1106</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Attendee.evt__Invitation_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Reg</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_New_Payment_Value_0</name>
        <label>Set New Payment Value</label>
        <locationX>1634</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>Get_Not_Paid_Payment.pymt__Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewPaymentAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdatePayment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Parent_Revise_Invoice</name>
        <label>Set Parent Revise Invoice</label>
        <locationX>974</locationX>
        <locationY>2738</locationY>
        <assignmentItems>
            <assignToReference>Get_Parent_Oppty.Revise_Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Parent</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Revise_Invoice</name>
        <label>Set Revise Invoice</label>
        <locationX>1238</locationX>
        <locationY>2630</locationY>
        <assignmentItems>
            <assignToReference>Get_Reg_Opp.Revise_Invoice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opp_Status</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ApplytoRemainingBalance</name>
        <choiceText>Apply to Remaining Balance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Apply to Remaining Balance</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Refund</name>
        <choiceText>Refund</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Refund</stringValue>
        </value>
    </choices>
    <choices>
        <name>Transfer</name>
        <choiceText>Transfer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Transfer</stringValue>
        </value>
    </choices>
    <choices>
        <name>UnappliedFunds</name>
        <choiceText>Unapplied Funds</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unapplied Funds</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Cancelation_Fees_0_0_0</name>
        <label>Cancelation Fees</label>
        <locationX>1106</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Payment_Status_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Fees_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_Cancelation_Fee</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Cancel_Fee</targetReference>
            </connector>
            <label>Yes Fees</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cancelation_Fees_0_0_0_0</name>
        <label>Cancelation Fees</label>
        <locationX>314</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>Cancel_Confirmation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Fees_0_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Add_Cancelation_Fee</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancel_Fee_Paid_Line_Item</targetReference>
            </connector>
            <label>Yes Fees</label>
        </rules>
    </decisions>
    <decisions>
        <name>Delete_or_Update_Payment_0</name>
        <label>Update Payment Status to Cancelled or Update Payment Amount</label>
        <locationX>1502</locationX>
        <locationY>1514</locationY>
        <defaultConnector>
            <targetReference>Set_New_Payment_Value_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cancel_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Reg_Opp.Has_Parent_Opportunity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Add_Cancelation_Fee</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Unpaid_Payment_Record</targetReference>
            </connector>
            <label>Cancel Payment</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_a_parent</name>
        <label>Is there a parent</label>
        <locationX>1106</locationX>
        <locationY>2522</locationY>
        <defaultConnector>
            <targetReference>Set_Revise_Invoice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Parent_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Reg_Opp.Parent_Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Parent_Oppty</targetReference>
            </connector>
            <label>Yes Parent Opportunity</label>
        </rules>
    </decisions>
    <decisions>
        <name>Payment_Status_0_0</name>
        <label>Payment Status</label>
        <locationX>1106</locationX>
        <locationY>1190</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Paid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Reg_Opp.Payment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Paid_Payment</targetReference>
            </connector>
            <label>Paid</label>
        </rules>
        <rules>
            <name>Partial_Payment_Bundle</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Reg_Opp.Payment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partial Payment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Reg_Opp.Has_Parent_Opportunity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Get_Paid_Payment</targetReference>
            </connector>
            <label>Partial Payment Bundle</label>
        </rules>
        <rules>
            <name>Partial_Payment_Standalone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Reg_Opp.Payment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Partial Payment</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Reg_Opp.Has_Parent_Opportunity__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Get_Paid_Payment</targetReference>
            </connector>
            <label>Partial Payment Standalone</label>
        </rules>
        <rules>
            <name>Not_Paid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Reg_Opp.Payment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Paid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Not_Paid_Payment</targetReference>
            </connector>
            <label>Not Paid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Settlement_Type</name>
        <label>Settlement Type</label>
        <locationX>314</locationX>
        <locationY>1814</locationY>
        <defaultConnector>
            <targetReference>Cancel_Refund_Line_Item_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Refund</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Refund</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Settlement_Type_Partial</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Refund</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Settlement_Type_Paid</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancel_Refund_Line_Item_0_0_0</targetReference>
            </connector>
            <label>Yes Refund</label>
        </rules>
        <rules>
            <name>Yes_Unapplied_Funds</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Settlement_Type_Paid</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>UnappliedFunds</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Settlement_Type_Partial</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>UnappliedFunds</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Move_to_Unassigned_Funds_Line_Item</targetReference>
            </connector>
            <label>Yes_Unapplied Funds</label>
        </rules>
    </decisions>
    <description>The Cancellations part of the Cancellations, Transfers, and Substitution. Updated flow to not delete but rather update Payment record.</description>
    <environments>Default</environments>
    <formulas>
        <name>BundledRegistrationReminderDue</name>
        <dataType>Currency</dataType>
        <expression>{!Get_Reg_Opp.Parent_Opp_Amount__c} - {!Get_Reg_Opp.Parent_Opp_Paid__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>CancelationFeeCredit</name>
        <dataType>Currency</dataType>
        <expression>0-{!CancelationFee}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>DaysSincePayment</name>
        <dataType>Number</dataType>
        <expression>TODAY()-{!Get_Paid_Payment.pymt__Date__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>fCancelAmount</name>
        <dataType>Currency</dataType>
        <expression>0-{!Get_Reg_Opp.Amount}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>NewOppStatus</name>
        <dataType>String</dataType>
        <expression>If({!Add_Cancelation_Fee} =&apos;Yes&apos;, &quot;Canceled&quot;,&quot; Closed Lost&quot; )</expression>
    </formulas>
    <formulas>
        <name>NewPaymentAmount</name>
        <dataType>Currency</dataType>
        <expression>{!Get_Not_Paid_Payment.pymt__Amount__c} - {!Get_Reg_Opp.Amount} + {!CancelationFee}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>PaymentLink</name>
        <dataType>String</dataType>
        <expression>&quot;https://darden.lightning.force.com/lightning/r/pymt__PaymentX__c/&quot; + {!Get_Paid_Payment.Id} + &quot;/view&quot;</expression>
    </formulas>
    <formulas>
        <name>PaymentOpp</name>
        <dataType>String</dataType>
        <expression>IF({!Get_Reg_Opp.Has_Parent_Opportunity__c}=&quot;Yes&quot;,{!Get_Reg_Opp.Parent_Opportunity__c},{!Get_Reg_Opp.Id})</expression>
    </formulas>
    <formulas>
        <name>RefundAmount</name>
        <dataType>Currency</dataType>
        <expression>IF(ISBLANK({!vCancelationFee}),{!Get_Reg_Opp.Amount},  {!Get_Reg_Opp.Amount}-{!vCancelationFee})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Refund Amount (Negative)</description>
        <name>RefundAmount_Negative</name>
        <dataType>Currency</dataType>
        <expression>IF(ISBLANK({!vCancelationFee}),0-{!Get_Reg_Opp.Amount},  0-{!Get_Reg_Opp.Amount}+{!vCancelationFee})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TaskSubject</name>
        <dataType>String</dataType>
        <expression>&quot;Process Refund of $&quot; + TEXT( {!RefundAmount_Negative})</expression>
    </formulas>
    <interviewLabel>Cancellations Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Cancellations Subflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Cancel_Fee_Line_Item</name>
        <label>Cancel Fee Line Item</label>
        <locationX>974</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Set_Cancel_Reg_Opp_Canc_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Cancelation Fee </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Get_Reg_Opp.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <stringValue>01u6T00000GXWBeQAP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <stringValue>01t6T000005nbGbQAI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>CancelationFee</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Cancel_Fee_Paid_Line_Item</name>
        <label>Cancel Fee Paid Line Item</label>
        <locationX>182</locationX>
        <locationY>1514</locationY>
        <connector>
            <targetReference>Cancel_Confirmation</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Cancelation Fee Paid </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Get_Reg_Opp.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <stringValue>01u6T00000GXWBoQAP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <stringValue>01t6T000005nbGlQAI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>CancelationFeeCredit</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Cancel_Refund_Line_Item_0</name>
        <label>Cancel Refund Line Item</label>
        <locationX>578</locationX>
        <locationY>1922</locationY>
        <connector>
            <targetReference>UpdatingOpportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Cancelation Credit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Get_Reg_Opp.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <stringValue>01u6T00000GXWBnQAP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <stringValue>01t6T000005nbGkQAI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>RefundAmount_Negative</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Cancel_Refund_Line_Item_0_0</name>
        <label>Cancel Refund Line Item</label>
        <locationX>1502</locationX>
        <locationY>1406</locationY>
        <connector>
            <targetReference>Delete_or_Update_Payment_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Get_Reg_Opp.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <stringValue>01u6T00000GXWBpQAP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <stringValue>01t6T000005nbGmQAI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>fCancelAmount</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Cancel_Refund_Line_Item_0_0_0</name>
        <label>Cancel Refund Line Item</label>
        <locationX>50</locationX>
        <locationY>1922</locationY>
        <connector>
            <targetReference>Create_Refund_Task</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Cancelation Refund</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Get_Reg_Opp.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <stringValue>01u6T00000GXWBiQAP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <stringValue>01t6T000005nbGfQAI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>RefundAmount_Negative</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Refund_Task</name>
        <label>Create Refund Task</label>
        <locationX>50</locationX>
        <locationY>2030</locationY>
        <connector>
            <targetReference>UpdatingOpportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Please process the refund and update this task to complete.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>TaskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Paid_Payment.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Unassigned_Funds_Record</name>
        <label>Create Unassigned Funds Record</label>
        <locationX>314</locationX>
        <locationY>2030</locationY>
        <assignRecordIdToReference>vUnappliedFundsId</assignRecordIdToReference>
        <connector>
            <targetReference>UpdatingOpportunity</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>RefundAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Attendee.evt__Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Originating_Opportunity__c</field>
            <value>
                <elementReference>Get_Reg_Opp.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Unapplied_Funds__c</object>
    </recordCreates>
    <recordCreates>
        <name>Move_to_Unassigned_Funds_Line_Item</name>
        <label>Move to Unassigned Funds Line Item</label>
        <locationX>314</locationX>
        <locationY>1922</locationY>
        <connector>
            <targetReference>Create_Unassigned_Funds_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Transfer to Unapplied Funds</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Get_Reg_Opp.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <stringValue>01u6T00000GXWBlQAP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <stringValue>01t6T000005nbGiQAI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>RefundAmount_Negative</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Not_Paid_Payment</name>
        <label>Get Not Paid Payment</label>
        <locationX>1502</locationX>
        <locationY>1298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cancel_Refund_Line_Item_0_0</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>pymt__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PaymentOpp</elementReference>
            </value>
        </filters>
        <filters>
            <field>pymt__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </filters>
        <filters>
            <field>pymt__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Process</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pymt__PaymentX__c</object>
        <sortField>pymt__Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Paid_Payment</name>
        <label>Get Paid Payment</label>
        <locationX>314</locationX>
        <locationY>1298</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cancelation_Fees_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pymt__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PaymentOpp</elementReference>
            </value>
        </filters>
        <filters>
            <field>pymt__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pymt__PaymentX__c</object>
        <sortField>pymt__Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Parent_Oppty</name>
        <label>Get Parent Oppty</label>
        <locationX>974</locationX>
        <locationY>2630</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Parent_Revise_Invoice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Reg_Opp.Parent_Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Reg_Opp</name>
        <label>Get Reg Opp</label>
        <locationX>1106</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Cancel_Fee_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Attendee.Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opp_Status</name>
        <label>Update Opp Status</label>
        <locationX>1106</locationX>
        <locationY>3038</locationY>
        <connector>
            <targetReference>Cancelation_Completed</targetReference>
        </connector>
        <inputReference>Get_Reg_Opp</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Parent</name>
        <label>Update Parent</label>
        <locationX>974</locationX>
        <locationY>2846</locationY>
        <connector>
            <targetReference>Update_Opp_Status</targetReference>
        </connector>
        <inputReference>Get_Parent_Oppty</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Reg</name>
        <label>Update Reg</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Cancelation_Fees_0_0_0</targetReference>
        </connector>
        <inputReference>Attendee</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Instead of deleting, should update payment record.</description>
        <name>Update_Unpaid_Payment_Record</name>
        <label>Update Unpaid Payment Record</label>
        <locationX>1370</locationX>
        <locationY>1622</locationY>
        <connector>
            <targetReference>UpdatingOpportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Not_Paid_Payment.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>pymt__Status__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>pymt__PaymentX__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdatePayment</name>
        <label>UpdatePayment</label>
        <locationX>1634</locationX>
        <locationY>1730</locationY>
        <connector>
            <targetReference>UpdatingOpportunity</targetReference>
        </connector>
        <inputReference>Get_Not_Paid_Payment</inputReference>
    </recordUpdates>
    <screens>
        <name>Cancel_Confirmation</name>
        <label>Cancel Confirmation</label>
        <locationX>314</locationX>
        <locationY>1706</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Settlement_Type</targetReference>
        </connector>
        <fields>
            <name>Message_Paid</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;This registration has been fully paid, with the most recent payment made &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!DaysSincePayment}&lt;/span&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt; days ago.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14.6667px; font-family: Calibri, sans-serif; color: rgb(62, 62, 60);&quot;&gt;Registration Total: &lt;/span&gt;{!Get_Reg_Opp.Amount}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 11pt;&quot;&gt;Please select how the funds should be settled.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Paid</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Message_Partially_Standalone</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, sans-serif;&quot;&gt;This registration has been partially paid, with the most recent payment made &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!DaysSincePayment}&lt;/span&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, sans-serif;&quot;&gt; days ago.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: Calibri, sans-serif; font-size: 14.6667px; background-color: rgb(255, 255, 255);&quot;&gt;Registration Total: &lt;/span&gt;{!Get_Reg_Opp.Amount}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Payment Amount&lt;/p&gt;&lt;p&gt;{!Get_Paid_Payment.pymt__Amount__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 11pt; font-family: Calibri, sans-serif;&quot;&gt;Please select how the funds should be settled.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Partial_Payment_Standalone</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Settlement_Type_Paid</name>
            <choiceReferences>Refund</choiceReferences>
            <choiceReferences>UnappliedFunds</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Settlement Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Paid</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Partial_Payment_Standalone</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Message_Partially_Bundle</name>
            <fieldText>&lt;p&gt;This registration is part of a &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;partially paid &lt;/span&gt;bundled registration.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Total for this Registration: {!Get_Reg_Opp.Amount}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Bundled Registration Amount Paid: &lt;/span&gt;{!Get_Reg_Opp.Parent_Opp_Paid__c}&lt;/p&gt;&lt;p&gt;Bundled &lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Registration Reminder Due:   {!BundledRegistrationReminderDue}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); font-family: Calibri, sans-serif; font-size: 14.6667px; background-color: rgb(255, 255, 255);&quot;&gt;Please select how the funds should be settled.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Partial_Payment_Bundle</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Settlement_Type_Partial</name>
            <choiceReferences>ApplytoRemainingBalance</choiceReferences>
            <choiceReferences>Refund</choiceReferences>
            <choiceReferences>UnappliedFunds</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Settlement Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Partial_Payment_Bundle</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cancel_Fee_Screen</name>
        <label>Cancel Fee Screen</label>
        <locationX>1106</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Cancel_Registration_0_0</targetReference>
        </connector>
        <fields>
            <name>Message_Canc</name>
            <fieldText>&lt;p&gt;This registration is {!Get_Reg_Opp.Payment_Status__c}.&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt; &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;The fee for this registration was: {!Get_Reg_Opp.Amount}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Do you want to add a cancellation fee?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Add_Cancelation_Fee</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Add Cancelation Fee</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>CancelationFee</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Cancelation Fee</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Add_Cancelation_Fee</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Cancel_Request_Comments</name>
            <fieldText>Cancel Request Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Cancelation_Completed</name>
        <label>Cancelation Completed</label>
        <locationX>1106</locationX>
        <locationY>3146</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CancComplete</name>
            <fieldText>&lt;p&gt;Cancellation Completed!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Refund_Text</name>
            <fieldText>&lt;p&gt;Please don&apos;t forget to process the refund for &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!RefundAmount}.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;You can access the payment record &lt;/span&gt;&lt;a href=&quot;{!PaymentLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(62, 62, 60);&quot;&gt;&lt;b&gt;here&lt;/b&gt;&lt;/a&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Yes_Refund</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Text1</name>
        <label>Text1</label>
        <locationX>974</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Payment_Status_0_0</targetReference>
        </connector>
        <fields>
            <name>ContinueText</name>
            <fieldText>&lt;p&gt;Adding cancellation fees.  Click &apos;Next&apos; to continue.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>UpdatingOpportunity</name>
        <label>Updating Opportunity</label>
        <locationX>1106</locationX>
        <locationY>2306</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Set_Cancel_Reg_Opp_Closed_Lost_0</targetReference>
        </connector>
        <fields>
            <name>ContinueText2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Updating Opportunity.   Click &apos;Next&apos; to continue.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>980</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Reg_Opp</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <description>The Attendee record that initiated the change.</description>
        <name>Attendee</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>evt__Attendee__c</objectType>
    </variables>
    <variables>
        <name>vCancelationFee</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>vUnappliedFundsId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
