temp_flows/flows/Substitution_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Original_Reg_Opp_Closed_Lost</name>
        <label>Set Original Reg Opp - Closed Lost</label>
        <locationX>606</locationX>
        <locationY>819</locationY>
        <assignmentItems>
            <assignToReference>Get_Reg_Opp.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Reg_Opp.Substituted_Participant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectContact.selectedValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Reg_Opp.Reg_Change_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Reg_Opp.Reg_Change_Processed_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Reg_Opp.Reg_Change_New_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vNewOppId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Reg_Opp.Registration_Change_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Substituted Out</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Reg_Opp.Reg_Change_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Substitution_Request_Comments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Original_Reg_Opp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Registration_Sub_0</name>
        <label>Set Registration Sub</label>
        <locationX>1080</locationX>
        <locationY>336</locationY>
        <assignmentItems>
            <assignToReference>Attendee.evt__Invitation_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Substitution</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Attendee.Substituted_Participant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectContact.selectedValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Reg</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetPaymentNewOppID_0</name>
        <label>SetPaymentNewOppID</label>
        <locationX>1184</locationX>
        <locationY>1516</locationY>
        <assignmentItems>
            <assignToReference>UpdatePaidPayment.pymt__Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vNewOppId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdatePayment</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ADifferentProgram</name>
        <choiceText>A Different Program</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>A Different Program</stringValue>
        </value>
    </choices>
    <choices>
        <name>AnotherIterationoftheSameProgram</name>
        <choiceText>Another Iteration of the Same Program</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Another Iteration of the Same Program</stringValue>
        </value>
    </choices>
    <choices>
        <name>ApplyasTransferFee</name>
        <choiceText>Apply as Transfer Fee</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Apply as Transfer Fee</stringValue>
        </value>
    </choices>
    <choices>
        <name>ApplytoRemainingBalance</name>
        <choiceText>Apply to Remaining Balance</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Apply to Remaining Balance</stringValue>
        </value>
    </choices>
    <choices>
        <name>Cancellation</name>
        <choiceText>Cancellation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Cancellation</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Refund</name>
        <choiceText>Refund</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Refund</stringValue>
        </value>
    </choices>
    <choices>
        <name>Substitution</name>
        <choiceText>Substitution</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Substitution</stringValue>
        </value>
    </choices>
    <choices>
        <name>Transfer</name>
        <choiceText>Transfer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Transfer</stringValue>
        </value>
    </choices>
    <choices>
        <name>UnappliedFunds</name>
        <choiceText>Unapplied Funds</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unapplied Funds</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>ApplyDiscount_0_0_0</name>
        <label>ApplyDiscount</label>
        <locationX>1239</locationX>
        <locationY>865</locationY>
        <defaultConnector>
            <targetReference>Create_New_Attendee</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Apply_Discount_0_0_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vOriginalDiscountAmount</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Continue_Discount</targetReference>
            </connector>
            <label>Yes Apply Discount</label>
        </rules>
    </decisions>
    <decisions>
        <name>Error_Not_Records_Found_0</name>
        <label>Error Not Records Found</label>
        <locationX>1303</locationX>
        <locationY>526</locationY>
        <defaultConnector>
            <targetReference>Error1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Originating_Program_Fee_Line_Items.UnitPrice</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Reg_Opp.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Sub_Entry</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Move_Payments</name>
        <label>Move Payments</label>
        <locationX>722</locationX>
        <locationY>1194</locationY>
        <defaultConnector>
            <targetReference>Update_Revise_Invoice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Standalone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Reg_Opp.Has_Parent_Opportunity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Invoice_File</targetReference>
            </connector>
            <label>Standalone</label>
        </rules>
    </decisions>
    <formulas>
        <name>BundledRegistrationReminderDue</name>
        <dataType>Currency</dataType>
        <expression>{!Get_Reg_Opp.Parent_Opp_Amount__c} - {!Get_Reg_Opp.Parent_Opp_Paid__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>FA_Response</name>
        <dataType>String</dataType>
        <expression>{!Get_Reg_Opp.FA_Response_Id__c} + &quot;A&quot;</expression>
    </formulas>
    <formulas>
        <name>fSubstitutedOutAmount</name>
        <dataType>Currency</dataType>
        <expression>0-{!Get_Reg_Opp.Amount}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Link_NewAttendee</name>
        <dataType>String</dataType>
        <expression>&quot;https://darden.lightning.force.com/lightning/r/&quot; +{!vNewAttendeeId} + &quot;/view&quot;</expression>
    </formulas>
    <formulas>
        <name>Link_NewOpp</name>
        <dataType>String</dataType>
        <expression>&quot;https://darden.lightning.force.com/lightning/r/Opportunity/&quot; + {!vNewOppId} + &quot;/view&quot;</expression>
    </formulas>
    <formulas>
        <name>NewOppName</name>
        <dataType>String</dataType>
        <expression>{!Get_Reg_Opp.Program_Acronym__c} +&quot; Registration - &quot; +{!Get_New_Contact.FirstName} + &quot; &quot; +{!Get_New_Contact.LastName}</expression>
    </formulas>
    <formulas>
        <name>NewPaymentOpp</name>
        <dataType>String</dataType>
        <expression>IF({!Get_Reg_Opp.Has_Parent_Opportunity__c}=&quot;Yes&quot;,{!Get_Reg_Opp.Parent_Opportunity__c},{!vNewOppId})</expression>
    </formulas>
    <formulas>
        <name>PaymentOpp</name>
        <dataType>String</dataType>
        <expression>IF({!Get_Reg_Opp.Has_Parent_Opportunity__c}=&quot;Yes&quot;,{!Get_Reg_Opp.Parent_Opportunity__c},{!Get_Reg_Opp.Id})</expression>
    </formulas>
    <formulas>
        <name>RefundAmount</name>
        <dataType>Currency</dataType>
        <expression>{!Get_Reg_Opp.Amount}-{!vCancelationFee}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Refund Amount (Negative)</description>
        <name>RefundAmount_Negative</name>
        <dataType>Currency</dataType>
        <expression>1-{!Get_Reg_Opp.Amount}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>vDiscountPercent</name>
        <dataType>Number</dataType>
        <expression>IF({!vOriginalDiscountAmount}=0,0,{!vOriginalDiscountAmount}/{!Originating_Program_Fee_Line_Items.UnitPrice})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Substitution Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Substitution Subflow</label>
    <loops>
        <name>UpdatePaidPayment</name>
        <label>UpdatePaidPayment</label>
        <locationX>837</locationX>
        <locationY>1527</locationY>
        <collectionReference>Get_Paid_Payments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SetPaymentNewOppID_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Invoice</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Add_Closed_Lost_Line_Item</name>
        <label>Add Closed Lost Line Item</label>
        <locationX>1110</locationX>
        <locationY>686</locationY>
        <connector>
            <targetReference>Add_Program_Fee_Line_Item_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Substituted Out</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Get_Reg_Opp.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <stringValue>01u6T00000GXWBjQAP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <stringValue>01t6T000005nbGgQAI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>fSubstitutedOutAmount</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Add_Program_Fee_Line_Item_0_0</name>
        <label>Add Program Fee Line Item</label>
        <locationX>1271</locationX>
        <locationY>671</locationY>
        <connector>
            <targetReference>ApplyDiscount_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Originating_Program_Fee_Line_Items.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>vNewOppId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>Originating_Program_Fee_Line_Items.PricebookEntryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>Originating_Program_Fee_Line_Items.Product2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>Originating_Program_Fee_Line_Items.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Attendee</name>
        <label>Create New Attendee</label>
        <locationX>888</locationX>
        <locationY>1067</locationY>
        <assignRecordIdToReference>vNewAttendeeId</assignRecordIdToReference>
        <connector>
            <targetReference>Move_Payments</targetReference>
        </connector>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>vNewOppId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Contact__c</field>
            <value>
                <elementReference>Attendee.Registration_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Path__c</field>
            <value>
                <stringValue>Substituted In</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>evt__Category__c</field>
            <value>
                <stringValue>Attendee</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>evt__Contact__c</field>
            <value>
                <elementReference>SelectContact.selectedValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>evt__Event__c</field>
            <value>
                <elementReference>Attendee.evt__Event__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>evt__Invitation_Status__c</field>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </inputAssignments>
        <object>evt__Attendee__c</object>
    </recordCreates>
    <recordCreates>
        <name>New_Discount_Line_Item_0</name>
        <label>New Discount Line Item</label>
        <locationX>1219</locationX>
        <locationY>1189</locationY>
        <connector>
            <targetReference>Create_New_Attendee</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>vDiscountDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>vNewOppId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>vDiscountPricebookEnterId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>vOriginalDiscountProductID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>vOriginalDiscountAmount</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>New_Reg_Opportunity_0</name>
        <label>New Reg Opportunity</label>
        <locationX>805</locationX>
        <locationY>520</locationY>
        <assignRecordIdToReference>vNewOppId</assignRecordIdToReference>
        <connector>
            <targetReference>NewOppContactRole</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Reg_Opp.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>Get_Reg_Opp.CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EE_Program__c</field>
            <value>
                <elementReference>Get_Reg_Opp.EE_Program__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FA_Response_Id__c</field>
            <value>
                <elementReference>Get_Reg_Opp.FA_Response_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Auto_Number__c</field>
            <value>
                <elementReference>Get_Reg_Opp.Invoice_Auto_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice__c</field>
            <value>
                <elementReference>Get_Reg_Opp.Invoice__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>NewOppName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Opportunity__c</field>
            <value>
                <elementReference>Get_Reg_Opp.Parent_Opportunity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Status__c</field>
            <value>
                <elementReference>Get_Reg_Opp.Payment_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Contact__c</field>
            <value>
                <elementReference>SelectContact.selectedValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Reg_Opp.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reg_Change_Comments__c</field>
            <value>
                <elementReference>Substitution_Request_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reg_Change_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reg_Change_Original_Opportunity__c</field>
            <value>
                <elementReference>Get_Reg_Opp.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reg_Change_Processed_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Change_Type__c</field>
            <value>
                <stringValue>Substituted In</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Special_Event__c</field>
            <value>
                <elementReference>Get_Reg_Opp.Special_Event__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>Get_Reg_Opp.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Paid__c</field>
            <value>
                <elementReference>Get_Reg_Opp.Total_Paid__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pymt__Number_of_Payments_Made__c</field>
            <value>
                <elementReference>Get_Reg_Opp.pymt__Number_of_Payments_Made__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pymt__Paid_Off__c</field>
            <value>
                <elementReference>Get_Reg_Opp.pymt__Paid_Off__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pymt__Payments_Made__c</field>
            <value>
                <elementReference>Get_Reg_Opp.pymt__Payments_Made__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>NewOppContactRole</name>
        <label>NewOppContactRole</label>
        <locationX>667</locationX>
        <locationY>547</locationY>
        <connector>
            <targetReference>Set_Original_Reg_Opp_Closed_Lost</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>SelectContact.selectedValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>vNewOppId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role</field>
            <value>
                <stringValue>Participant</stringValue>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Remove_Invoice_File</name>
        <label>Remove Invoice File</label>
        <locationX>847</locationX>
        <locationY>1269</locationY>
        <connector>
            <targetReference>Get_Paid_Payments</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Reg_Opp.Invoice__c</elementReference>
            </value>
        </filters>
        <object>ContentDocumentLink</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_New_Contact</name>
        <label>Get New Contact</label>
        <locationX>1079</locationX>
        <locationY>522</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Registration_Sub_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectContact.selectedValue</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Paid_Payments</name>
        <label>Get Paid Payments</label>
        <locationX>829</locationX>
        <locationY>1395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdatePaidPayment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pymt__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Reg_Opp.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>pymt__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>pymt__PaymentX__c</object>
        <sortField>pymt__Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Reg_Opp</name>
        <label>Get Reg Opp</label>
        <locationX>1443</locationX>
        <locationY>269</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Originating_Program_Fee_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Attendee.Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Originating_Discount_Line_Item</name>
        <label>Originating Discount Line Item</label>
        <locationX>1496</locationX>
        <locationY>564</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Error_Not_Records_Found_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Reg_Opp.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Family__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Discounts</stringValue>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputAssignments>
            <assignToReference>vDiscountDescription</assignToReference>
            <field>Description</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vOriginalDiscountLineItemID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vDiscountPricebookEnterId</assignToReference>
            <field>PricebookEntryId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vOriginalDiscountProductID</assignToReference>
            <field>Product2Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vOriginalDiscountAmount</assignToReference>
            <field>UnitPrice</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Originating_Program_Fee_Line_Items</name>
        <label>Originating Program Fee Line Items</label>
        <locationX>1443</locationX>
        <locationY>402</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Originating_Discount_Line_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Reg_Opp.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Family__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Program Fee</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Generate_New_Invoice</name>
        <label>Generate New Invoice</label>
        <locationX>569</locationX>
        <locationY>1543</locationY>
        <connector>
            <targetReference>Screen_Sub_Completed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vNewOppId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Invoice_Created__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Set_Create_Invoice__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Invoice</name>
        <label>Update Invoice</label>
        <locationX>644</locationX>
        <locationY>1544</locationY>
        <connector>
            <targetReference>Generate_New_Invoice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Reg_Opp.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>vNewOppId</elementReference>
            </value>
        </inputAssignments>
        <object>Invoice__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Original_Reg_Opp</name>
        <label>Update Original Reg Opp</label>
        <locationX>815</locationX>
        <locationY>789</locationY>
        <connector>
            <targetReference>Screen_Continue_ProgramFee</targetReference>
        </connector>
        <inputReference>Get_Reg_Opp</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Reg</name>
        <label>Update Reg</label>
        <locationX>809</locationX>
        <locationY>359</locationY>
        <connector>
            <targetReference>New_Reg_Opportunity_0</targetReference>
        </connector>
        <inputReference>Attendee</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Revise_Invoice</name>
        <label>Update Revise Invoice</label>
        <locationX>474</locationX>
        <locationY>1308</locationY>
        <connector>
            <targetReference>Screen_Sub_Completed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Reg_Opp.Parent_Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Revise_Invoice__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdatePayment</name>
        <label>UpdatePayment</label>
        <locationX>1040</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>UpdatePaidPayment</targetReference>
        </connector>
        <inputReference>UpdatePaidPayment</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Error1</name>
        <label>Error1</label>
        <locationX>1287</locationX>
        <locationY>306</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorText1</name>
            <fieldText>&lt;p&gt;The original opportunity or program fee was not found.  Please contact the administrator for more information. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Reg_Opp.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Originating_Program_Fee_Line_Items.UnitPrice}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;No records have been updated.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Continue_Discount</name>
        <label>Screen_Continue_Discount</label>
        <locationX>1426</locationX>
        <locationY>1024</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>New_Discount_Line_Item_0</targetReference>
        </connector>
        <fields>
            <name>CreatingDiscount</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(218, 124, 105); background-color: rgb(255, 255, 255);&quot;&gt;Please complete all steps of this flow, clicking away will result in an incomplete update with inaccurate financial information.&amp;nbsp;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Creating the &apos;Discount&apos; record.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Continue_ProgramFee</name>
        <label>Screen_Continue_ProgramFee</label>
        <locationX>960</locationX>
        <locationY>702</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Add_Closed_Lost_Line_Item</targetReference>
        </connector>
        <fields>
            <name>CreatingProgramFee</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); color: rgb(218, 124, 105); font-size: 14px;&quot;&gt;Please complete all steps of this flow, clicking away will result in an incomplete update with inaccurate financial information.&amp;nbsp;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Creating the Program Fee record.  Click &apos;Next&apos; to Contine.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Sub_Completed</name>
        <label>Screen_Sub_Completed</label>
        <locationX>474</locationX>
        <locationY>1533</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CancComplete_0_0_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(77, 186, 26); font-size: 16px;&quot;&gt;Substitution Completed!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!Link_NewOpp}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;New Opportunity&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!Link_NewAttendee}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;New Attendee&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_Sub_Entry</name>
        <label>Screen_Sub_Entry</label>
        <locationX>1187</locationX>
        <locationY>526</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_New_Contact</targetReference>
        </connector>
        <fields>
            <name>FlowText1</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(218, 124, 105); font-size: 14px;&quot;&gt;Please complete all steps of this flow, clicking away will result in an &lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;incomplete update with inaccurate financial information.&amp;nbsp;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>SelectContact</name>
            <extensionName>c:lookupFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Substitution Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cmpid</name>
                <value>
                    <stringValue>234</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldValue</name>
                <value>
                    <elementReference>Get_Reg_Opp.AccountId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>whereClause</name>
                <value>
                    <stringValue>Email_Entered__c = &apos;Yes&apos;</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Current_Details</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif); font-size: var(--lwc-fontSize3,0.8125rem);&quot;&gt;Orginal &lt;/span&gt;&lt;span style=&quot;font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif); font-size: var(--lwc-fontSize3,0.8125rem); color: var(--lwc-colorTextWeak,rgb(62, 62, 60)); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255));&quot;&gt;Registration Detals&lt;/span&gt;&lt;span style=&quot;font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif); font-size: var(--lwc-fontSize3,0.8125rem);&quot;&gt;: &lt;/span&gt;&lt;span style=&quot;font-family: var(--lwc-fontFamily,&amp;quot;Salesforce Sans&amp;quot;, Arial, sans-serif); font-size: var(--lwc-fontSize3,0.8125rem); color: var(--lwc-colorTextWeak,rgb(62, 62, 60)); background-color: var(--lwc-colorBackgroundInput,rgb(255, 255, 255));&quot;&gt;{!Get_Reg_Opp.EE_Program__r.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;Payment Status: {!Get_Reg_Opp.Payment_Status__c}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Program Fee: ${!Originating_Program_Fee_Line_Items.UnitPrice}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Discount Amount: &lt;/span&gt;{!vOriginalDiscountAmount}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Registration Total: ${!Get_Reg_Opp.Amount}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Apply_Discount_to_New_Registration</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Yes</defaultSelectedChoiceReference>
            <fieldText>Apply Discount to New Registration</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>vOriginalDiscountAmount</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>vOriginalDiscountAmount</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Org_Discount_Description</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Orginal Discount: {!vDiscountDescription}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>vOriginalDiscountAmount</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Substitution_Request_Comments</name>
            <fieldText>Substitution Request Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1317</locationX>
        <locationY>119</locationY>
        <connector>
            <targetReference>Get_Reg_Opp</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Attendee</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>evt__Attendee__c</objectType>
    </variables>
    <variables>
        <description>The Attendee record that initiated the change.</description>
        <name>OriginalAttendee</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>evt__Attendee__c</objectType>
    </variables>
    <variables>
        <name>PaidPayment1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PaidPaymentsCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pymt__PaymentX__c</objectType>
    </variables>
    <variables>
        <name>TransferredToSEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>evt__Special_Event__c</objectType>
    </variables>
    <variables>
        <name>vCancelationFee</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>vDiscountDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vDiscountPricebookEnterId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vNew_to_S_Event</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vNewAttendeeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vNewOppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vNewProgramId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vOppLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>vOriginalDiscountAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vOriginalDiscountLineItemID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vOriginalDiscountProductID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vOriginalProgramFee</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <description>The Opportunity Line Item for the original program fee.</description>
        <name>vOriginalProgramFeeLineItemID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vPaidPayment1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pymt__PaymentX__c</objectType>
    </variables>
    <variables>
        <name>vTest</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Test Value</stringValue>
        </value>
    </variables>
    <variables>
        <name>vtest2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Test Value 2</stringValue>
        </value>
    </variables>
</Flow>
