temp_flows/flows/Transfer_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Original_Reg_Opp_Transferred_Out</name>
        <label>Set Original Reg Opp - Transferred Out</label>
        <locationX>501</locationX>
        <locationY>1730</locationY>
        <assignmentItems>
            <assignToReference>Get_Reg_Opp.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Transferred Out</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Reg_Opp.Transferred_to__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Program_Iteration.selectedValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Reg_Opp.Reg_Change_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Reg_Opp.Reg_Change_Processed_By__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Reg_Opp.Reg_Change_New_Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vNewOppId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Reg_Opp.Registration_Change_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Transferred Out</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Reg_Opp.Reg_Change_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Transfer_Request_Comments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Updating_Opp_Screen_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Registration_Transferred</name>
        <label>Set Registration Transferred</label>
        <locationX>501</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>Attendee.evt__Invitation_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Transferred</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Attendee.Transferred_to__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>New_Special_Event.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Reg</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetPaymentNewOppID</name>
        <label>SetPaymentNewOppID</label>
        <locationX>149</locationX>
        <locationY>4958</locationY>
        <assignmentItems>
            <assignToReference>Get_Unpaid_Payments.pymt__Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewPaymentOpp</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Unpaid_Payments.pymt__Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewPaymentAmount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdatePayment_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetPaymentNewOppID_0</name>
        <label>SetPaymentNewOppID</label>
        <locationX>457</locationX>
        <locationY>4250</locationY>
        <assignmentItems>
            <assignToReference>UpdatePaidPayment.pymt__Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vNewOppId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdatePayment</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_do_not_add_fee</name>
        <choiceText>No, do not add fee</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No, do not add fee</stringValue>
        </value>
    </choices>
    <choices>
        <name>Refund</name>
        <choiceText>Refund</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Refund</stringValue>
        </value>
    </choices>
    <choices>
        <name>UnappliedFunds</name>
        <choiceText>Unapplied Funds</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Unapplied Funds</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes_add_fee</name>
        <choiceText>Yes, add fee</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes, add fee</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Apply_Transfer_Fee</name>
        <label>Apply Transfer Fee?</label>
        <locationX>501</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>New_Special_Event</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No, no transfer fee</defaultConnectorLabel>
        <rules>
            <name>Yes_apply_transfer_fee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Apply_a_transfer_fee</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes_add_fee</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Program_Fee_for_Original_Registration</targetReference>
            </connector>
            <label>Yes, apply transfer fee</label>
        </rules>
    </decisions>
    <decisions>
        <name>ApplyDiscount</name>
        <label>ApplyDiscount</label>
        <locationX>501</locationX>
        <locationY>3410</locationY>
        <defaultConnector>
            <targetReference>Create_New_Attendee</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Apply_Discount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vOriginalDiscountAmount</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Adding_Discount_Screen</targetReference>
            </connector>
            <label>Yes Apply Discount</label>
        </rules>
    </decisions>
    <decisions>
        <name>Error_No_Records_Found</name>
        <label>Error - No Records Found</label>
        <locationX>1018</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Error1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Originating_Program_Fee_Line_Items.UnitPrice</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Reg_Opp.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Transfer_Screen</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Invoice_Populated</name>
        <label>Invoice Populated</label>
        <locationX>336</locationX>
        <locationY>5450</locationY>
        <defaultConnector>
            <targetReference>Update_Invoice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Invoice_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Reg_Opp.Invoice__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Invoice_File</targetReference>
            </connector>
            <label>Yes Invoice Populated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_a_file</name>
        <label>Is there a file?</label>
        <locationX>182</locationX>
        <locationY>5666</locationY>
        <defaultConnector>
            <targetReference>Update_Invoice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_invoice_file</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Invoice_File.LinkedEntityId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Remove_Invoice_Record_0</targetReference>
            </connector>
            <label>Yes invoice file</label>
        </rules>
    </decisions>
    <decisions>
        <name>Move_Paid_Payment_0</name>
        <label>Move Paid Payment?</label>
        <locationX>501</locationX>
        <locationY>3926</locationY>
        <defaultConnector>
            <targetReference>Unpaid_Payment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Move_Payment_Record_Paid_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Reg_Opp.Total_Paid__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Reg_Opp.Is_Payment_Opportunity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Paid_Payments</targetReference>
            </connector>
            <label>Yes Move Payment Record Paid</label>
        </rules>
    </decisions>
    <decisions>
        <name>Payment_Record_Found</name>
        <label>Payment Record Found</label>
        <locationX>61</locationX>
        <locationY>4850</locationY>
        <defaultConnector>
            <targetReference>SetPaymentNewOppID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PaymentNotFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Unpaid_Payments.Id</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Standalone</targetReference>
            </connector>
            <label>PaymentNotFound</label>
        </rules>
    </decisions>
    <decisions>
        <name>Same_Program_Decision</name>
        <label>Same Program?</label>
        <locationX>501</locationX>
        <locationY>2054</locationY>
        <defaultConnector>
            <targetReference>New_Program</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Same_Program</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Reg_Opp.EE_Program__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>EEProgram.selectedValue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Adding_Program_Fee_Screen</targetReference>
            </connector>
            <label>Same Program</label>
        </rules>
    </decisions>
    <decisions>
        <name>Settlement_Type_Transfer</name>
        <label>Settlement Type</label>
        <locationX>875</locationX>
        <locationY>2594</locationY>
        <defaultConnector>
            <targetReference>ApplyDiscount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Refund_Delta</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Fee_Delta_Settlement</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Refund</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancel_Refund_Line_Item_0</targetReference>
            </connector>
            <label>Refund Delta</label>
        </rules>
        <rules>
            <name>Unapplied_Funds_Delta</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Fee_Delta_Settlement</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>UnappliedFunds</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Move_to_Unassigned_Funds_Line_Item_0</targetReference>
            </connector>
            <label>Unapplied Funds Delta</label>
        </rules>
        <rules>
            <name>Not_Need</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Reg_Opp.Payment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Paid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ApplyDiscount</targetReference>
            </connector>
            <label>Not Need</label>
        </rules>
        <rules>
            <name>NewProgramIsMore</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fTransferFeeDelta</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Reg_Opp.Payment_Status__c</leftValueReference>
                <operator>EndsWith</operator>
                <rightValue>
                    <stringValue>Paid</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fBalanceLessTransferFeeDelta</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Refund_Task_0</targetReference>
            </connector>
            <label>NewProgramIsMore</label>
        </rules>
    </decisions>
    <decisions>
        <name>Standalone</name>
        <label>Standalone?</label>
        <locationX>501</locationX>
        <locationY>5342</locationY>
        <defaultConnector>
            <targetReference>Update_Revise_Invoice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_standalone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Reg_Opp.Has_Parent_Opportunity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Invoice_Populated</targetReference>
            </connector>
            <label>Is standalone</label>
        </rules>
    </decisions>
    <decisions>
        <name>Unpaid_Payment</name>
        <label>Unpaid Payment?</label>
        <locationX>501</locationX>
        <locationY>4634</locationY>
        <defaultConnector>
            <targetReference>Standalone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Update_Payment_Record_Unpaid</name>
            <conditionLogic>2 AND (1  OR  3 OR (4 AND 5))</conditionLogic>
            <conditions>
                <leftValueReference>Get_Reg_Opp.Has_Parent_Opportunity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Reg_Opp.Payment_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Paid</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fTransferFeeDelta</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fBalanceLessTransferFeeDelta</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fTransferFeeDelta</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Unpaid_Payments</targetReference>
            </connector>
            <label>Yes Update Payment Record Unpaid</label>
        </rules>
        <rules>
            <name>Create_New_Payment_Parent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fTransferFeeDelta</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Reg_Opp.Payment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paid</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Reg_Opp.Has_Parent_Opportunity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Paid_Record</targetReference>
            </connector>
            <label>Create New Payment - Parent</label>
        </rules>
        <rules>
            <name>Update_Opp_New_Payment_Standalone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Reg_Opp.Has_Parent_Opportunity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>fTransferFeeDelta</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Reg_Opp.Payment_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Paid</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdatePaymentOpp</targetReference>
            </connector>
            <label>Update Opp - New Payment Standalone</label>
        </rules>
    </decisions>
    <description>Subflow for Transferring a registrant to another program.

01.20.2026 (MJD) - v16 - Fixed Stage value in &apos;Set Original Reg Opp - Closed Lost&apos; assignment. Changed Stage from &apos;Closed Lost&apos; to &apos;Transferred Out&apos; per EELL-216. Also renamed element to &apos;Set Original Reg Opp - Transferred Out&apos; for clarity.

10.23.2025 (MJD) - v12, v13, v14 - Updated &apos;Transfer Fee&apos; functionality to retrieve Product information and use it later in updating other records. Added removal of original &apos;Program Fee&apos; (via Deletion of Product Opportunity associated with original Opportunity).
08.26.2025 (MJD) - v11 - Changed from Free-Form layout to Auto-Layout (only). No other changes made.</description>
    <environments>Default</environments>
    <formulas>
        <name>fBalanceLessTransferFeeDelta</name>
        <dataType>Currency</dataType>
        <expression>IF({!Get_Reg_Opp.Program_Registration_Balance__c}&gt;0,{!Get_Reg_Opp.Program_Registration_Balance__c}-{!fTransferFeeDelta},0-{!fTransferFeeDelta})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fChangeSummary</name>
        <dataType>String</dataType>
        <expression>&quot;Comments: &quot; &amp;{!Transfer_Request_Comments} &amp;
&quot;Orginal Registration Detals: &quot; &amp; {!Get_Reg_Opp.EE_Program__r.Name} &amp;
&quot;Payment Status: &quot; &amp;TEXT({!Get_Reg_Opp.Payment_Status__c} )&amp;
&quot;Orginal Program Fee: $&quot; &amp;TEXT({!Originating_Program_Fee_Line_Items.UnitPrice}) &amp;
&quot;Orginal Discount Amount: &quot; &amp;TEXT({!vOriginalDiscountAmount} )&amp;
&quot;Orginal Registration Total: $&quot; &amp;TEXT({!Get_Reg_Opp.Amount}) &amp;
&quot;Payment Balnace: &quot; &amp; TEXT({!Get_Reg_Opp.Program_Registration_Balance__c})&amp;
&quot;New Program Fee: $&quot; &amp; TEXT({!New_Program_Pricebook_Entry.UnitPrice})&amp;
&quot;New Discount Amount: &quot; &amp; TEXT({!fNewDiscountAmount})&amp;
&quot;New Registration Total: &quot; &amp; TEXT({!NewOppTotal})&amp;
IF({!fTransferFeeDeltaConverted}&gt;0,
&quot;The new program total is &quot;&amp;TEXT({!fTransferFeeDeltaConverted}) &amp;&quot; more expensive. A new Invoice will be generated with the updated balance information. &quot;, IF({!fTransferFeeDeltaConverted}&lt;0, &quot;The new program total is &quot;&amp;TEXT( {!fTransferFeeDelta}) &amp;&quot; less than original program.&quot;, &quot;The new program total is the same.&quot;))</expression>
    </formulas>
    <formulas>
        <name>fDiscountPercent</name>
        <dataType>Number</dataType>
        <expression>IF({!vOriginalDiscountAmount}=0,0,{!vOriginalDiscountAmount}/{!Originating_Program_Fee_Line_Items.UnitPrice})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fExpirationDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()+365</expression>
    </formulas>
    <formulas>
        <name>fNewDiscountAmount</name>
        <dataType>Currency</dataType>
        <expression>IF({!Get_Reg_Opp.EE_Program__c} = {!EEProgram.selectedValue}, {!vOriginalDiscountAmount},
{!New_Special_Event.Open_Online_Program_Price__c}*{!fDiscountPercent})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fPaidOff</name>
        <dataType>Boolean</dataType>
        <expression>IF({!fTransferFeeDelta}&lt;0,FALSE,{!Get_Reg_Opp.pymt__Paid_Off__c})</expression>
    </formulas>
    <formulas>
        <name>fReverseOfBalanceLessTransferFeeDelta</name>
        <dataType>Currency</dataType>
        <expression>0-{!fBalanceLessTransferFeeDelta}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fTransferDeltaLessBalance</name>
        <dataType>Currency</dataType>
        <expression>{!fTransferFeeDelta}-{!Get_Reg_Opp.Program_Registration_Balance__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fTransferFeeDelta</name>
        <dataType>Currency</dataType>
        <expression>{!Get_Reg_Opp.Amount}-{!NewOppTotal}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>The Fee Delta Converted to a positive number.</description>
        <name>fTransferFeeDeltaConverted</name>
        <dataType>Currency</dataType>
        <expression>{!NewOppTotal}-{!Get_Reg_Opp.Amount}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Link_NewAttendee</name>
        <dataType>String</dataType>
        <expression>&quot;https://darden.lightning.force.com/lightning/r/evt__Attendee__c/&quot; +{!vNewAttendeeId} + &quot;/view&quot;</expression>
    </formulas>
    <formulas>
        <name>Link_NewOpp</name>
        <dataType>String</dataType>
        <expression>&quot;https://darden.lightning.force.com/lightning/r/Opportunity/&quot; + {!vNewOppId} + &quot;/view&quot;</expression>
    </formulas>
    <formulas>
        <name>Link_UnassignedFunds</name>
        <dataType>String</dataType>
        <expression>&quot; https://darden.lightning.force.com/lightning/r/Unapplied_Funds__c/&quot; + {!vNew_UnassignedFunds} + &quot;/view&quot;</expression>
    </formulas>
    <formulas>
        <name>NewOppName</name>
        <dataType>String</dataType>
        <expression>{!New_Special_Event.Program_Acronym__c} + &quot; Registration - &quot; +{!Attendee.evt__Contact__r.FirstName} +&quot; &quot;+ {!Attendee.evt__Contact__r.LastName}</expression>
    </formulas>
    <formulas>
        <name>NewOppTotal</name>
        <dataType>Currency</dataType>
        <expression>{!New_Program_Pricebook_Entry.UnitPrice}+{!fNewDiscountAmount}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>NewPaymentAmount</name>
        <dataType>Currency</dataType>
        <expression>IF({!fTransferFeeDelta} &lt; 0,{!Get_Unpaid_Payments.pymt__Amount__c}+{!fTransferFeeDeltaConverted},
IF(AND({!fTransferFeeDelta} &gt; 0,{!fBalanceLessTransferFeeDelta} &gt;0),
 {!Get_Unpaid_Payments.pymt__Amount__c}+{!fTransferFeeDeltaConverted},
{!Get_Unpaid_Payments.pymt__Amount__c}))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>NewPaymentOpp</name>
        <dataType>String</dataType>
        <expression>IF({!Get_Reg_Opp.Has_Parent_Opportunity__c}=&quot;Yes&quot;,{!Get_Reg_Opp.Parent_Opportunity__c},{!vNewOppId})</expression>
    </formulas>
    <formulas>
        <name>NewPaymentTask</name>
        <dataType>String</dataType>
        <expression>&quot;Notify the transfer requester that a new payment is due for $&quot; + TEXT({!fBalanceLessTransferFeeDelta})</expression>
    </formulas>
    <formulas>
        <name>PaymentLink</name>
        <dataType>String</dataType>
        <expression>&quot;https://darden.lightning.force.com/lightning/r/pymt__PaymentX__c/&quot; + {!Get_Payment_for_Refund.Id} + &quot;/view&quot;</expression>
    </formulas>
    <formulas>
        <name>PaymentOpp</name>
        <dataType>String</dataType>
        <expression>IF({!Get_Reg_Opp.Has_Parent_Opportunity__c}=&quot;Yes&quot;,{!Get_Reg_Opp.Parent_Opportunity__c},{!Get_Reg_Opp.Id})</expression>
    </formulas>
    <formulas>
        <name>ProgramTransferDeltaLineItem</name>
        <dataType>String</dataType>
        <expression>&quot;Program Transfer Delta &quot; + {!Get_Reg_Opp.EE_Program__r.Name} + &quot; to &quot; + {!New_Program.Name}</expression>
    </formulas>
    <formulas>
        <name>RefundAmount</name>
        <dataType>Currency</dataType>
        <expression>{!Get_Reg_Opp.Amount}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <description>Refund Amount (Negative)</description>
        <name>RefundAmount_Negative</name>
        <dataType>Currency</dataType>
        <expression>1-{!Get_Reg_Opp.Amount}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>RefundTaskSubject</name>
        <dataType>String</dataType>
        <expression>&quot;Process Refund of $&quot; + TEXT( {!fBalanceLessTransferFeeDelta})</expression>
    </formulas>
    <formulas>
        <name>Reverse_NewOppTotal</name>
        <dataType>Currency</dataType>
        <expression>0-{!NewOppTotal}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Transfer Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Transfer Subflow</label>
    <loops>
        <name>UpdatePaidPayment</name>
        <label>UpdatePaidPayment</label>
        <locationX>369</locationX>
        <locationY>4142</locationY>
        <collectionReference>Get_Paid_Payments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SetPaymentNewOppID_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Unpaid_Payment</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Add_Program_Fee_Line_Item_0_0</name>
        <label>Add Program Fee Line Item</label>
        <locationX>127</locationX>
        <locationY>2270</locationY>
        <connector>
            <targetReference>ApplyDiscount</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Originating_Program_Fee_Line_Items.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>vNewOppId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>Originating_Program_Fee_Line_Items.PricebookEntryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>Originating_Program_Fee_Line_Items.Product2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>Originating_Program_Fee_Line_Items.UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Add_Transfer_Fee_Line_Item_to_Original_Opportunity</name>
        <label>Add Transfer Fee Line Item to Original Opportunity</label>
        <locationX>369</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>New_Special_Event</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Get_Transfer_Fee_Product_Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Internal_Comments__c</field>
            <value>
                <stringValue>Yes, we are applying a transfer fee</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Get_Reg_Opp.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>Originating_Program_Fee_Line_Items.PricebookEntryId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>Get_Transfer_Fee_Product_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>Transfer_Fee</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Cancel_Refund_Line_Item_0</name>
        <label>Cancel Refund Line Item</label>
        <locationX>391</locationX>
        <locationY>2702</locationY>
        <connector>
            <targetReference>Get_Payment_for_Refund</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Cancelation Refund</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Get_Reg_Opp.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <stringValue>01u6T00000GXWBiQAP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <stringValue>01t6T000005nbGfQAI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>fBalanceLessTransferFeeDelta</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Attendee</name>
        <label>Create New Attendee</label>
        <locationX>501</locationX>
        <locationY>3818</locationY>
        <assignRecordIdToReference>vNewAttendeeId</assignRecordIdToReference>
        <connector>
            <targetReference>Move_Paid_Payment_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>vNewOppId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Contact__c</field>
            <value>
                <elementReference>Attendee.Registration_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Path__c</field>
            <value>
                <stringValue>Transferred In</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>evt__Category__c</field>
            <value>
                <stringValue>Attendee</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>evt__Contact__c</field>
            <value>
                <elementReference>Attendee.evt__Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>evt__Event__c</field>
            <value>
                <elementReference>Program_Iteration.selectedValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>evt__Invitation_Status__c</field>
            <value>
                <stringValue>Registered</stringValue>
            </value>
        </inputAssignments>
        <object>evt__Attendee__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Refund_Task</name>
        <label>Create Refund Task</label>
        <locationX>391</locationX>
        <locationY>3026</locationY>
        <connector>
            <targetReference>Program_Transfer_Delta_Line_Item_0_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Please process the refund and update this task to complete.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>RefundTaskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Payment_for_Refund.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Refund_Task_0</name>
        <label>Create Refund Task</label>
        <locationX>1095</locationX>
        <locationY>2702</locationY>
        <connector>
            <targetReference>ApplyDiscount</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Notify participant of new payment due.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>NewPaymentTask</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Payment_for_Refund.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Unassigned_Funds_Record_0_0</name>
        <label>Create Unassigned Funds Record</label>
        <locationX>655</locationX>
        <locationY>2810</locationY>
        <assignRecordIdToReference>vNew_UnassignedFunds</assignRecordIdToReference>
        <connector>
            <targetReference>UnappliedFundsScreen</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount__c</field>
            <value>
                <elementReference>fReverseOfBalanceLessTransferFeeDelta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Attendee.evt__Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Expiration_Date__c</field>
            <value>
                <elementReference>fExpirationDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Original_Credit_Amount__c</field>
            <value>
                <elementReference>fReverseOfBalanceLessTransferFeeDelta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Originating_Opportunity__c</field>
            <value>
                <elementReference>vNewOppId</elementReference>
            </value>
        </inputAssignments>
        <object>Unapplied_Funds__c</object>
    </recordCreates>
    <recordCreates>
        <name>CreatePayment_0_0</name>
        <label>CreatePayment</label>
        <locationX>413</locationX>
        <locationY>4850</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>UpdatePaymentOpp</targetReference>
        </connector>
        <inputAssignments>
            <field>Billing_Contact__c</field>
            <value>
                <elementReference>Get_Paid_Record.Billing_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_EE__c</field>
            <value>
                <elementReference>Get_Paid_Record.Invoice_EE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_Paid_Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pymt__Account__c</field>
            <value>
                <elementReference>Get_Paid_Record.pymt__Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pymt__Amount__c</field>
            <value>
                <elementReference>fBalanceLessTransferFeeDelta</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pymt__Billing_City__c</field>
            <value>
                <elementReference>Get_Paid_Record.pymt__Billing_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pymt__Billing_Company__c</field>
            <value>
                <elementReference>Get_Paid_Record.pymt__Billing_Company__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pymt__Billing_Country__c</field>
            <value>
                <elementReference>Get_Paid_Record.pymt__Billing_Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pymt__Billing_Email__c</field>
            <value>
                <elementReference>Get_Paid_Record.pymt__Billing_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pymt__Billing_First_Name__c</field>
            <value>
                <elementReference>Get_Paid_Record.pymt__Billing_First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pymt__Billing_Last_Name__c</field>
            <value>
                <elementReference>Get_Paid_Record.pymt__Billing_Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pymt__Billing_Phone__c</field>
            <value>
                <elementReference>Get_Paid_Record.pymt__Billing_Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pymt__Billing_Postal_Code__c</field>
            <value>
                <elementReference>Get_Paid_Record.pymt__Billing_Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pymt__Billing_State__c</field>
            <value>
                <elementReference>Get_Paid_Record.pymt__Billing_State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pymt__Billing_Street__c</field>
            <value>
                <elementReference>Get_Paid_Record.pymt__Billing_Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pymt__Contact__c</field>
            <value>
                <elementReference>Get_Paid_Record.pymt__Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pymt__Opportunity__c</field>
            <value>
                <elementReference>NewPaymentOpp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pymt__Status__c</field>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </inputAssignments>
        <object>pymt__PaymentX__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Move_to_Unassigned_Funds_Line_Item_0</name>
        <label>Move to Unassigned Funds Line Item</label>
        <locationX>655</locationX>
        <locationY>2702</locationY>
        <connector>
            <targetReference>Create_Unassigned_Funds_Record_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Transfer to Unapplied Funds</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Get_Reg_Opp.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <stringValue>01u6T00000GXWBlQAP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <stringValue>01t6T000005nbGiQAI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>fBalanceLessTransferFeeDelta</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>New_Discount_Line_Item_0</name>
        <label>New Discount Line Item</label>
        <locationX>369</locationX>
        <locationY>3626</locationY>
        <connector>
            <targetReference>Create_New_Attendee</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>vDiscountDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>vNewOppId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>vDiscountPricebookEnterId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>vOriginalDiscountProductID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>fNewDiscountAmount</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>New_Program_Fee_Line_Item_0_0</name>
        <label>New Program Fee Line Item</label>
        <locationX>875</locationX>
        <locationY>2486</locationY>
        <connector>
            <targetReference>Settlement_Type_Transfer</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>New_Program.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>vNewOppId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>New_Program_Pricebook_Entry.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>New_Program.Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>New_Special_Event.Open_Online_Program_Price__c</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>New_Reg_Opportunity_0</name>
        <label>New Reg Opportunity</label>
        <locationX>501</locationX>
        <locationY>1514</locationY>
        <assignRecordIdToReference>vNewOppId</assignRecordIdToReference>
        <connector>
            <targetReference>NewOppContactRole</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Reg_Opp.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>New_Special_Event.Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EE_Program__c</field>
            <value>
                <elementReference>EEProgram.selectedValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FA_Response_Id__c</field>
            <value>
                <elementReference>Get_Reg_Opp.FA_Response_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Auto_Number__c</field>
            <value>
                <elementReference>Get_Reg_Opp.Invoice_Auto_Number__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Status__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>NewOppName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Opportunity__c</field>
            <value>
                <elementReference>Get_Reg_Opp.Parent_Opportunity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Status__c</field>
            <value>
                <elementReference>Get_Reg_Opp.Payment_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Primary_Contact__c</field>
            <value>
                <elementReference>Get_Reg_Opp.Primary_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Reg_Opp.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reg_Change_Comments__c</field>
            <value>
                <elementReference>Transfer_Request_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reg_Change_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reg_Change_Original_Opportunity__c</field>
            <value>
                <elementReference>Get_Reg_Opp.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reg_Change_Processed_By__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Registration_Change_Type__c</field>
            <value>
                <stringValue>Transferred In</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Special_Event__c</field>
            <value>
                <elementReference>New_Special_Event.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>Get_Reg_Opp.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Paid__c</field>
            <value>
                <elementReference>Get_Reg_Opp.Total_Paid__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pymt__Paid_Off__c</field>
            <value>
                <elementReference>fPaidOff</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>pymt__Payments_Made__c</field>
            <value>
                <elementReference>Get_Reg_Opp.pymt__Payments_Made__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordCreates>
        <name>NewOppContactRole</name>
        <label>NewOppContactRole</label>
        <locationX>501</locationX>
        <locationY>1622</locationY>
        <connector>
            <targetReference>Set_Original_Reg_Opp_Transferred_Out</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Reg_Opp.Primary_Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>vNewOppId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role</field>
            <value>
                <stringValue>Participant</stringValue>
            </value>
        </inputAssignments>
        <object>OpportunityContactRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Program_Transfer_Delta_Line_Item_0</name>
        <label>Program Transfer Delta Line Item</label>
        <locationX>655</locationX>
        <locationY>3026</locationY>
        <connector>
            <targetReference>ApplyDiscount</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>ProgramTransferDeltaLineItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Get_Reg_Opp.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <stringValue>01u6T00000GXWD5QAP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <stringValue>01t6T000005nbIeQAI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>Reverse_NewOppTotal</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Program_Transfer_Delta_Line_Item_0_0_0</name>
        <label>Program Transfer Delta Line Item</label>
        <locationX>391</locationX>
        <locationY>3134</locationY>
        <connector>
            <targetReference>ApplyDiscount</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>ProgramTransferDeltaLineItem</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Get_Reg_Opp.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <stringValue>01u6T00000GXWD5QAP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <stringValue>01t6T000005nbIeQAI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>Reverse_NewOppTotal</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Remove_Invoice_Record_0</name>
        <label>Remove Invoice Record</label>
        <locationX>50</locationX>
        <locationY>5774</locationY>
        <connector>
            <targetReference>Update_Invoice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Reg_Opp.Invoice__c</elementReference>
            </value>
        </filters>
        <object>ContentDocumentLink</object>
    </recordDeletes>
    <recordDeletes>
        <name>Remove_Program_Fee_for_Original_Registration</name>
        <label>Remove Program Fee for Original Registration</label>
        <locationX>369</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Get_Transfer_Fee_Product_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Reg_Opp.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Originating_Program_Fee_Line_Items.Product2Id</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Invoice_File</name>
        <label>Get Invoice File</label>
        <locationX>182</locationX>
        <locationY>5558</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_a_file</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Reg_Opp.Invoice__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Paid_Payments</name>
        <label>Get Paid Payments</label>
        <locationX>369</locationX>
        <locationY>4034</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdatePaidPayment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pymt__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Reg_Opp.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>pymt__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>pymt__PaymentX__c</object>
        <sortField>pymt__Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Paid_Record</name>
        <label>Get Paid Record</label>
        <locationX>413</locationX>
        <locationY>4742</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreatePayment_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pymt__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewPaymentOpp</elementReference>
            </value>
        </filters>
        <filters>
            <field>pymt__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pymt__PaymentX__c</object>
        <sortField>pymt__Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Payment_for_Refund</name>
        <label>Get Payment for Refund</label>
        <locationX>391</locationX>
        <locationY>2810</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Refund_Screen_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>pymt__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PaymentOpp</elementReference>
            </value>
        </filters>
        <filters>
            <field>pymt__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pymt__PaymentX__c</object>
        <queriedFields>Id</queriedFields>
        <sortField>pymt__Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Reg_Opp</name>
        <label>Get Reg Opp</label>
        <locationX>1018</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Originating_Program_Fee_Line_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Attendee.Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Transfer_Fee_Product_Record</name>
        <label>Get &apos;Transfer Fee&apos; Product Record</label>
        <locationX>369</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Transfer_Fee_Line_Item_to_Original_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Transfer Fee</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Unpaid_Payments</name>
        <label>Get Unpaid Payments</label>
        <locationX>61</locationX>
        <locationY>4742</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Payment_Record_Found</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4 OR 5)</filterLogic>
        <filters>
            <field>pymt__Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PaymentOpp</elementReference>
            </value>
        </filters>
        <filters>
            <field>pymt__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Scheduled</stringValue>
            </value>
        </filters>
        <filters>
            <field>pymt__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <filters>
            <field>pymt__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Process</stringValue>
            </value>
        </filters>
        <filters>
            <field>pymt__Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pymt__PaymentX__c</object>
        <sortField>pymt__Date__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>New_Program</name>
        <label>New Program</label>
        <locationX>875</locationX>
        <locationY>2162</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Program_Pricebook_Entry</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EEProgram.selectedValue</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EE_Program__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>New_Program_Pricebook_Entry</name>
        <label>New Program Pricebook Entry</label>
        <locationX>875</locationX>
        <locationY>2270</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Different_Program_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>New_Program.Product__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01sd0000000aOnfAAE</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <sortField>Id</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>New_Special_Event</name>
        <label>New Special Event</label>
        <locationX>501</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Registration_Transferred</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Program_Iteration.selectedValue</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>evt__Special_Event__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Start_Date__c</queriedFields>
        <queriedFields>Program_Acronym__c</queriedFields>
        <queriedFields>Open_Online_Program_Price__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Originating_Discount_Line_Item_0</name>
        <label>Originating Discount Line Item</label>
        <locationX>1018</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Error_No_Records_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Reg_Opp.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Family__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Discounts</stringValue>
            </value>
        </filters>
        <filters>
            <field>Hide_from_Invoice__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TotalPrice</field>
            <operator>LessThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <outputAssignments>
            <assignToReference>vDiscountDescription</assignToReference>
            <field>Description</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vOriginalDiscountLineItemID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vDiscountPricebookEnterId</assignToReference>
            <field>PricebookEntryId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vOriginalDiscountProductID</assignToReference>
            <field>Product2Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vOriginalDiscountAmount</assignToReference>
            <field>UnitPrice</field>
        </outputAssignments>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Originating_Program_Fee_Line_Items</name>
        <label>Originating Program Fee Line Items</label>
        <locationX>1018</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Originating_Discount_Line_Item_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Reg_Opp.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product_Family__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Program Fee</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Generate_New_Invoice</name>
        <label>Generate New Invoice</label>
        <locationX>336</locationX>
        <locationY>6158</locationY>
        <connector>
            <targetReference>Transfer_Completed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vNewOppId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Invoice_Created__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Set_Create_Invoice__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Invoice</name>
        <label>Update Invoice</label>
        <locationX>336</locationX>
        <locationY>6050</locationY>
        <connector>
            <targetReference>Generate_New_Invoice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Reg_Opp.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>vNewOppId</elementReference>
            </value>
        </inputAssignments>
        <object>Invoice__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Original_Reg_Opp_0_0_0</name>
        <label>Update Original Reg Opp</label>
        <locationX>501</locationX>
        <locationY>1946</locationY>
        <connector>
            <targetReference>Same_Program_Decision</targetReference>
        </connector>
        <inputReference>Get_Reg_Opp</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Reg</name>
        <label>Update Reg</label>
        <locationX>501</locationX>
        <locationY>1406</locationY>
        <connector>
            <targetReference>New_Reg_Opportunity_0</targetReference>
        </connector>
        <inputReference>Attendee</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Revise_Invoice</name>
        <label>Update Revise Invoice</label>
        <locationX>666</locationX>
        <locationY>5450</locationY>
        <connector>
            <targetReference>Transfer_Completed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Reg_Opp.Parent_Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Revise_Invoice__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdatePayment</name>
        <label>UpdatePayment</label>
        <locationX>457</locationX>
        <locationY>4358</locationY>
        <connector>
            <targetReference>UpdatePaidPayment</targetReference>
        </connector>
        <inputReference>UpdatePaidPayment</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdatePayment_0</name>
        <label>UpdatePayment</label>
        <locationX>149</locationX>
        <locationY>5066</locationY>
        <connector>
            <targetReference>Standalone</targetReference>
        </connector>
        <inputReference>Get_Unpaid_Payments</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdatePaymentOpp</name>
        <label>UpdatePaymentOpp</label>
        <locationX>677</locationX>
        <locationY>4742</locationY>
        <connector>
            <targetReference>Standalone</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Reg_Opp.Parent_Opportunity__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Payment_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Paid</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Payment_Status__c</field>
            <value>
                <stringValue>Partial Payment</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Adding_Discount_Screen</name>
        <label>Adding Discount Screen</label>
        <locationX>369</locationX>
        <locationY>3518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>New_Discount_Line_Item_0</targetReference>
        </connector>
        <fields>
            <name>FlowText5</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(218, 124, 105); font-size: 14px;&quot;&gt;Please complete all steps of this flow, clicking away will result in an incomplete update with inaccurate financial information.&amp;nbsp;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>AddingDiscountScreenText</name>
            <fieldText>&lt;p&gt;New Discount Amount: {!fNewDiscountAmount}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Please click next to continue.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Adding_Program_Fee_Screen</name>
        <label>Adding Program Fee Screen</label>
        <locationX>127</locationX>
        <locationY>2162</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Add_Program_Fee_Line_Item_0_0</targetReference>
        </connector>
        <fields>
            <name>FlowText5_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(218, 124, 105); font-size: 14px;&quot;&gt;Please complete all steps of this flow, clicking away will result in an incomplete update with inaccurate financial information.&amp;nbsp;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>AddingDiscountScreenText_0_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Adding Program Fee.  Please click &apos;Next&apos; to continue.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Different_Program_Screen</name>
        <label>Different Program Screen</label>
        <locationX>875</locationX>
        <locationY>2378</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>New_Program_Fee_Line_Item_0_0</targetReference>
        </connector>
        <fields>
            <name>FlowText2</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(218, 124, 105);&quot;&gt;Please complete all steps of this flow, clicking away will result in an incomplete update with inaccurate financial information.&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>DifferentProgramText1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Program Fee: $&lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!New_Program_Pricebook_Entry.UnitPrice}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Discount Amount: &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!fNewDiscountAmount}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Registration Total: &lt;/span&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!NewOppTotal} &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>NewProgramCostMore</name>
            <fieldText>&lt;p&gt;The new program total is &lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!fTransferFeeDeltaConverted} &lt;/span&gt;more expensive. &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;A new Invoice will be generated with the updated balance information. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>fTransferFeeDelta</leftValueReference>
                    <operator>LessThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Charge_Standard_Program_Fee</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Yes</defaultSelectedChoiceReference>
            <fieldText>Charge Standard Program Fee</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>fTransferFeeDelta</leftValueReference>
                    <operator>LessThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>fTransferFeeDelta</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NewProgramCostSame</name>
            <fieldText>&lt;p&gt;The new program total is the same as the original total.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Fee_Delta_Settlement</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>0</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NewProgramCostLessPaid</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;The new program total is {!fTransferFeeDelta} less than original program.  Please select how the fee delta should be applied.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Outstanding Balance:  $&lt;/span&gt;{!Get_Reg_Opp.Program_Registration_Balance__c}&lt;/p&gt;&lt;p&gt;Settlement Amount: {!fBalanceLessTransferFeeDelta}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>fTransferFeeDelta</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>fBalanceLessTransferFeeDelta</leftValueReference>
                    <operator>LessThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>BalanceDueIsMore</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;The new program total is {!fTransferFeeDelta} less than original program.  The amount due on this registration or its parent is more than the fee delta.  A new Invoice will be generated with the updated balance information.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;Outstanding Balance:  ${!Get_Reg_Opp.Program_Registration_Balance__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>fTransferFeeDelta</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>fBalanceLessTransferFeeDelta</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>NewProgramCostLessNotPaid</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;The registration has not been paid and the new program total is {!fTransferFeeDelta} less than original program.  The invoice and payment will reflect the new balance due.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Reg_Opp.Payment_Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Not Paid</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>fTransferFeeDelta</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Fee_Delta_Settlement</name>
            <choiceReferences>UnappliedFunds</choiceReferences>
            <choiceReferences>Refund</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Fee Delta Settlement</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>1 AND (2 OR 3) AND 4</conditionLogic>
                <conditions>
                    <leftValueReference>fTransferFeeDelta</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Reg_Opp.Payment_Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Paid</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Get_Reg_Opp.Payment_Status__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Partial Payment</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>fBalanceLessTransferFeeDelta</leftValueReference>
                    <operator>LessThan</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error1</name>
        <label>Error1</label>
        <locationX>1535</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorText1</name>
            <fieldText>&lt;p&gt;The original opportunity or program fee was not found.  Please contact the administrator for more information. &lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Reg_Opp.Name}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;{!Originating_Program_Fee_Line_Items.UnitPrice}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;No records have been updated.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Refund_Screen_0</name>
        <label>Refund Screen</label>
        <locationX>391</locationX>
        <locationY>2918</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Refund_Task</targetReference>
        </connector>
        <fields>
            <name>FlowText3_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(218, 124, 105); font-size: 14px;&quot;&gt;Please complete all steps of this flow, clicking away will result in an incomplete update with inaccurate financial information.&amp;nbsp;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>RefundScreenText_0</name>
            <fieldText>&lt;p&gt;Refund Amount: {!fReverseOfBalanceLessTransferFeeDelta}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Please click next to continue.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Transfer_Completed</name>
        <label>Transfer Completed</label>
        <locationX>501</locationX>
        <locationY>6350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CompleteText</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 16px; color: rgb(77, 186, 26);&quot;&gt;Transfer Completed!&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!Link_NewOpp}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;New Opportunity&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!Link_NewAttendee}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;New Attendee&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>UnappliedFundsText</name>
            <fieldText>&lt;p&gt;&lt;a href=&quot;{!Link_UnassignedFunds}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Unapplied Funds&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Unapplied_Funds_Delta</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>RefundText</name>
            <fieldText>&lt;p&gt;Please don&apos;t forget to process the refund for {!fReverseOfBalanceLessTransferFeeDelta}&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;You can access the payment record &lt;/span&gt;&lt;a href=&quot;{!PaymentLink}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;&lt;b&gt;here&lt;/b&gt;&lt;/a&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Refund_Delta</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Transfer_Screen</name>
        <label>Transfer Screen</label>
        <locationX>501</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Apply_Transfer_Fee</targetReference>
        </connector>
        <fields>
            <name>FlowText1</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(218, 124, 105); font-size: 14px;&quot;&gt;Please complete all steps of this flow, clicking away will result in an &lt;span class=&quot;ql-cursor&quot;&gt;&lt;/span&gt;incomplete update with inaccurate financial information.&amp;nbsp;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Current_Details</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Orginal &lt;/span&gt;Registration Detals&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;: &lt;/span&gt;{!Get_Reg_Opp.EE_Program__r.Name}&lt;/p&gt;&lt;p&gt;Payment Status: {!Get_Reg_Opp.Payment_Status__c}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Program Fee: ${!Originating_Program_Fee_Line_Items.UnitPrice}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Discount Amount: &lt;/span&gt;{!vOriginalDiscountAmount}&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Registration Total: ${!Get_Reg_Opp.Amount}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Payment Balnace: $&lt;/span&gt;{!Get_Reg_Opp.Program_Registration_Balance__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Org_Discount_Description</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Orginal Discount: {!vDiscountDescription}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>vOriginalDiscountAmount</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Apply_Discount_to_New_Registration</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Yes</defaultSelectedChoiceReference>
            <fieldText>Apply Discount to New Registration</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>vOriginalDiscountAmount</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>vOriginalDiscountAmount</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Apply_a_transfer_fee</name>
            <choiceReferences>Yes_add_fee</choiceReferences>
            <choiceReferences>No_do_not_add_fee</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Apply a transfer fee?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Transfer_Fee</name>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>0.0</numberValue>
            </defaultValue>
            <fieldText>Transfer Fee</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>2</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Apply_a_transfer_fee</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes_add_fee</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>EEProgram</name>
            <extensionName>c:lookupFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>EE_Program__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Transfer to Program</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentChild</name>
                <value>
                    <stringValue>Parent</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>vNewProgramId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cmpid</name>
                <value>
                    <stringValue>234</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>whereClause</name>
                <value>
                    <stringValue>Upcoming_Offerings__c &gt; 0 OR Program_Code__c =&apos;TEP&apos;</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Program_Iteration</name>
            <extensionName>c:lookupFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>evt__Special_Event__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayFieldName</name>
                <value>
                    <stringValue>Date_Range_Display__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Transfer to Iteration</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentChild</name>
                <value>
                    <stringValue>Child</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldName</name>
                <value>
                    <stringValue>EE_Program__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldValue</name>
                <value>
                    <elementReference>vNewProgramId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>vNew_to_S_Event</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentId</name>
                <value>
                    <stringValue>234</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>whereClause</name>
                <value>
                    <stringValue>Available_for_Registration_Internal__c = &apos;Yes&apos;</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Transfer_Request_Comments</name>
            <fieldText>Transfer Request Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>UnappliedFundsScreen</name>
        <label>UnappliedFundsScreen</label>
        <locationX>655</locationX>
        <locationY>2918</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Program_Transfer_Delta_Line_Item_0</targetReference>
        </connector>
        <fields>
            <name>FlowText4</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; color: rgb(218, 124, 105); background-color: rgb(255, 255, 255);&quot;&gt;Please complete all steps of this flow, clicking away will result in an incomplete update with inaccurate financial information.&amp;nbsp;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>CreatingDiscount_0</name>
            <fieldText>&lt;p&gt;Creating the &apos;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Unapplied Funds&apos; &lt;/span&gt;&amp;nbsp;record please click &apos;Next&apos; to continue.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Updating_Opp_Screen_0</name>
        <label>Updating Opp  Screen</label>
        <locationX>501</locationX>
        <locationY>1838</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Original_Reg_Opp_0_0_0</targetReference>
        </connector>
        <fields>
            <name>FlowText5_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(218, 124, 105); font-size: 14px;&quot;&gt;Please complete all steps of this flow, clicking away will result in an incomplete update with inaccurate financial information.&amp;nbsp;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>UpdatingOppScreenText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Adding Program Fee.  Please click &apos;Next&apos; to continue.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>892</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Reg_Opp</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>Attendee</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>evt__Attendee__c</objectType>
    </variables>
    <variables>
        <name>vDiscountDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vDiscountPricebookEnterId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vNew_to_S_Event</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vNew_UnassignedFunds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vNewAttendeeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vNewOppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vNewProgramId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vOriginalDiscountAmount</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vOriginalDiscountLineItemID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vOriginalDiscountProductID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
